:root {
  --initialProgress: 32.5%;
}

.donor-progress-section {
  margin-bottom: 70px;
}

.donor-progress-section h2,
.donor-goal .total,
.donor-goal .text {
  color: var(--blueDark);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.donor-progress-section h2,
.donor-progress-section h3,
.donor-progress-section h4,
.donor-progress-section p {
  margin-bottom: 0;
  text-align: center;
}

.donor-progress-section img {
  max-width: none;
}

.donor-progress-section .header {
  padding: 45px;
}

.donor-progress-section h2 {
  font-size: 42px;
  letter-spacing: 4px;
}

.donor-progress-section p.subtitle {
  color: var(--grayDarker);
  font-size: 21px;
  font-weight: 600;
}

.donor-progress-bar {
  padding: 70px 0 40px;
  background-color: var(--grayLight);
}

.donor-progress-bar .wrap {
  display: flex;
  padding-left: 5%;
}

.donor-progress-bar .outer {
  position: relative;
  width: 100%;
  height: 93px;
  border: 10px solid var(--blueDark);
}

.donor-progress-bar .inner {
  background-color: var(--red);
  height: 100%;
  width: var(--initialProgress);
  max-width: 100%;
  transition-property: width;
}

.donor-progress-bar .donor-count-number {
  position: absolute;
  top: -70px;
  left: var(--initialProgress);
  width: 190px;
  margin-left: -250px;
  letter-spacing: 2px;
  transition-property: left;
  text-align: right;
}

.donor-progress-section .yang-animated {
  position: absolute;
  bottom: -10px;
  left: var(--initialProgress);
  width: 109px;
  margin-left: -64px;
  transition-property: left;
}

.donor-progress-section .yang-animated.lightsaber {
  display: none;
  width: 210px;
  margin-left: -135px;
}

.donor-progress-section .yang-animated.robo,
.donor-progress-section .yang-animated.cheer {
  display: none;
  width: 163px;
}

/* .donor-progress-section.achieved-65k .yang-animated.robo
.donor-progress-section.achieved-65k .yang-animated.cheer
{
    display: block;
} */

/* .donor-progress-section.achieved-65k .yang-animated.original {
    display: none;
} */

.donor-progress-bar .end-of-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -26px;
  margin-left: -40px;
}

.donor-progress-section.no-end-image .end-of-bar {
  margin-top: 100px;
  margin-left: -72px;
}

.donor-progress-section .podium {
  position: absolute;
  bottom: -10px;
  left: 32.5%;
  width: 119px;
  margin-left: -60px;
}

.donor-progress-section .podium.checked {
  display: none;
}

.donor-progress-section.achieved-65k .podium.checked {
  display: block;
}

.donor-progress-section.achieved-65k .podium.unchecked {
  display: none;
}

.donor-goal .total {
  font-size: 33px;
}

.donor-goal .text {
  font-size: 18px;
}

.donor-progress-section .donate-button {
  display: block;
  margin-top: -50px;
  text-decoration: none;
}

.donor-progress-section.no-end-image .donate-button {
  margin-top: -60px;
}

.donor-progress-section button {
  display: block;
  width: 356px;
  height: 87px;
  padding: 0;
  margin: 0 auto;
  font-size: 42px;
  font-weight: bold;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .donor-progress-section .title {
    font-size: 33px;
    letter-spacing: 4px;
  }
}

@media (min-width: 541px) and (max-width: 992px) {
  .donor-progress-section {
    margin-bottom: 20px;
  }

  .donor-progress-section .header {
    padding: 25px;
  }

  .donor-progress-section h2 {
    font-size: 22px;
    letter-spacing: 3px;
  }

  .donor-progress-section p.subtitle {
    font-size: 12px;
  }

  .donor-progress-bar {
    padding: 45px 0 25px;
  }

  .donor-progress-bar .outer {
    height: 50px;
    border-width: 5px;
  }

  .donor-progress-bar .donor-count-number {
    top: -40px;
    width: 105px;
    margin-left: -141px;
    letter-spacing: 1px;
  }

  .donor-progress-section .yang-animated {
    bottom: -5px;
    width: 64px;
    margin-left: -38px;
  }

  .donor-progress-section .yang-animated.lightsaber {
      width: 124px;
      margin-left: -83px;
  }

  .donor-progress-section .yang-animated.robo,
  .donor-progress-section .yang-animated.cheer {
    width: 98px;
  }

  .donor-progress-bar .end-of-bar {
    margin-top: -19px;
    margin-left: -23px;
  }

  .donor-progress-section.no-end-image .end-of-bar {
    margin-top: 60px;
    margin-left: -43px;
  }

  .donor-progress-section .podium {
    bottom: -5px;
    width: 69px;
    margin-left: -35px;
  }

  .donor-goal .total {
    font-size: 19px;
  }

  .donor-goal .text {
    font-size: 10px;
  }

  .donor-progress-section .donate-button {
    margin-top: -40px;
  }

  .donor-progress-section.no-end-image .donate-button {
    margin-top: -50px;
  }

  .donor-progress-section button {
    width: 200px;
    height: 49px;
    font-size: 25px;
  }
}

@media (min-width: 541px) and (max-width: 675px) {
  .donor-progress-section .title {
    font-size: 18px;
    letter-spacing: 2px;
  }
}

@media (max-width: 540px) {
  .donor-progress-section {
    margin-bottom: 10px;
  }

  .donor-progress-section .header {
    padding: 13px;
  }

  .donor-progress-section h2 {
    font-size: 15px;
    letter-spacing: 1px;
  }

  .donor-progress-section p.subtitle {
    font-size: 7px;
  }

  .donor-progress-bar {
    padding: 20px 0 10px;
  }

  .donor-progress-bar .outer {
    height: 23px;
    border-width: 2px;
  }

  .donor-progress-bar .donor-count-number {
    top: -19px;
    width: 76px;
    margin-left: -94px;
    font-size: 13px;
    letter-spacing: 1px;
  }

  .donor-progress-bar .yang-animated {
    bottom: -2px;
    width: 29px;
    margin-left: -17px;
  }

  /* .donor-progress-bar .yang-animated.lightsaber {
    width: 57px;
    margin-left: -38px;
  } */

  .donor-progress-section .yang-animated.robo,
  .donor-progress-section .yang-animated.cheer {
    width: 46px;
  }

  .donor-progress-bar .end-of-bar {
    margin-top: -8px;
    margin-left: -13px;
  }

  .donor-progress-section.no-end-image .end-of-bar {
    margin-top: 30px;
    margin-left: -22px;
  }

  .donor-progress-bar .podium {
    bottom: -2px;
    width: 31px;
    margin-left: -15px;
  }

  .donor-goal .total {
    font-size: 8px;
  }

  .donor-goal .text {
    font-size: 5px;
  }

  .donor-progress-section .donate-button {
    margin-top: -30px;
  }

  .donor-progress-section.no-end-image .donate-button {
    margin-top: -38px;
  }

  .donor-progress-section button {
    width: 90px;
    height: 23px;
    font-size: 11px;
  }
}
